@import url(http://fonts.googleapis.com/css?family=Satisfy);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);
#card_title {
  font-family: 'Satisfy', cursive; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  /* we have font-weight: 200, 400, and 700 */ }

nav {
  font-family: 'Satisfy', cursive; }

#logo {
  width: 1000px;
  height: 650px; }

/*This was in the first nav.scss file I did

#wrapper
{
  width: 200px;
  background-color: white;
  float:left;
  border-right: 2px solid grey; */
/* This is for the jquery styling*/
#navbar {
  margin-left: 0%;
  padding: 0;
  list-style: none; }

/* make the LI display inline */
/* it's position relative so that position absolute */
/* can be used in submenu */
#navbarli {
  float: left;
  display: block;
  width: 100px;
  background: #aaaacc;
  position: relative;
  z-index: 500;
  margin: 0 1px; }

/* this is the parent menu */
#nav li a {
  display: block;
  padding: 8px 5px 0 5px;
  font-weight: 700;
  height: 23px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  color: #333; }

#nav li a:hover {
  color: #fff; }

/* submenu, it's hidden by default */
#nav ul {
  position: absolute;
  left: 0px;
  display: none;
  margin: 0 0 0 -1px;
  padding: 0;
  list-style: none; }

#nav ul li {
  width: 100px;
  float: left;
  border-top: 1px solid #fff; }

/* display block will make the link fill the whole area of LI */
#nav ul a {
  display: block;
  height: 15px;
  padding: 8px 5px;
  color: #666; }

#nav ul a:hover {
  text-decoration: underline; }

/* My old styling for the nav bar
    li
    {


      a
      {
        text-decoration: none;
        color: black;
        font-size: 30px;
      }

    }
    li:nth-child(1)
    {
      padding: 10px 10px 10px 0px;


      :hover
      {

        background-color:yellow;
      }

    }
        li:nth-child(2)
    {
      padding: 10px 10px 10px 0px;


      :hover
      {

        background-color:yellow;
      }

    }
        li:nth-child(3)
    {
      padding: 10px 10px 10px 0px;


      :hover
      {

        background-color:yellow;
      }

    }
        li:nth-child(4)
    {
      padding: 10px 10px 10px 0px;


      :hover
      {

        background-color:yellow;
      }

    }
        li:nth-child(5)
    {
      padding: 10px 10px 10px 0px;


      :hover
      {

        background-color:yellow;
      }

    }
        li:nth-child(6)
    {
      padding: 10px 10px 10px 0px;


      :hover
      {

        background-color:yellow;
      }

    }

  }



} */
.board {
  float: right;
  height: 780px;
  width: 780px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #cce4c8; }
  .board #top {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .board #bottom {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .board .row {
    height: 120px;
    width: 780px; }
  .board .row#top div:nth-child(3) {
    background-color: green; }
  .board #left {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .board #right {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .board .column {
    height: 540px;
    width: 120px;
    float: left; }
  .board .corner {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
    height: 120px;
    width: 120px;
    float: left; }
  .board .rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg); }
  .board .lcolname {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    position: absolute;
    right: 15px;
    top: 5px; }
  .board #coco {
    top: 13px; }
  .board #gabby {
    top: 8px;
    right: 20px;
    width: 34px; }
  .board #baja {
    top: 15px;
    right: 10px; }
  .board #opry {
    top: 12px; }
  .board #ryman {
    margin-top: 29px;
    margin-right: -13px;
    width: 73px; }
  .board .lprice {
    position: absolute;
    left: -17px;
    bottom: 22px !important;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg); }
  .board .limage {
    -webkit-transform: rotate(90deg);
    position: absolute;
    left: 17px;
    top: 11px; }
  .board .vertical_tile {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
    height: 120px;
    width: 60px;
    float: left;
    position: relative;
    /* positioned .vertical_tile
    relative, so that can absolute
    position price in tile to bottom */ }
  .board .horizontal_tile {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
    height: 60px;
    width: 120px;
    position: relative;
    /* positioned .vertical_tile
    relative, so that can absolute
    position price in tile to bottom */ }
  .board .bar_purple_vertical {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #c40774;
    height: 24px;
    border: 1px solid black; }
  .board .bar_purple_horizontal_fr {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #c40774;
    height: 58px;
    width: 24px;
    border: 1px solid black;
    float: right; }
  .board .bar_purple_horizontal_fl {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #c40774;
    height: 58px;
    width: 24px;
    border: 1px solid black;
    float: left; }
  .board .bar_orange_vertical {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #e38800;
    height: 24px;
    border: 1px solid black; }
  .board .bar_orange_horizontal_fr {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #e38800;
    height: 58px;
    width: 24px;
    border: 1px solid black;
    float: right; }
  .board .bar_orange_horizontal_fl {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #e38800;
    height: 58px;
    width: 24px;
    border: 1px solid black;
    float: left; }
  .board .bar_red_vertical {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #cd001a;
    height: 24px;
    border: 1px solid black; }
  .board .bar_red_horizontal_fr {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #cd001a;
    height: 58px;
    width: 24px;
    border: 1px solid black;
    float: right; }
  .board .bar_red_horizontal_fl {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #cd001a;
    height: 58px;
    width: 24px;
    border: 1px solid black;
    float: left; }
  .board .bar_yellow_vertical {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #e4ea00;
    height: 24px;
    border: 1px solid black; }
  .board .bar_yellow_horizontal_fr {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #e4ea00;
    height: 58px;
    width: 24px;
    border: 1px solid black;
    float: right; }
  .board .bar_yellow_horizontal_fl {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #e4ea00;
    height: 58px;
    width: 24px;
    border: 1px solid black;
    float: left; }
  .board .bar_green_vertical {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #1aa03b;
    height: 24px;
    border: 1px solid black; }
  .board .bar_green_horizontal_fr {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #1aa03b;
    height: 58px;
    width: 24px;
    border: 1px solid black;
    float: right; }
  .board .bar_green_horizontal_fl {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #1aa03b;
    height: 58px;
    width: 24px;
    border: 1px solid black;
    float: left; }
  .board .bar_darkblue_vertical {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #304ea2;
    height: 24px;
    border: 1px solid black; }
  .board .bar_darkblue_horizontal_fr {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #304ea2;
    height: 58px;
    width: 24px;
    border: 1px solid black;
    float: right; }
  .board .bar_darkblue_horizontal_fl {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #304ea2;
    height: 58px;
    width: 24px;
    border: 1px solid black;
    float: left; }
  .board .bar_brown_vertical {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #75390b;
    height: 24px;
    border: 1px solid black; }
  .board .bar_brown_horizontal_fr {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #75390b;
    height: 58px;
    width: 24px;
    border: 1px solid black;
    float: right; }
  .board .bar_brown_horizontal_fl {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #75390b;
    height: 58px;
    width: 24px;
    border: 1px solid black;
    float: left; }
  .board .bar_lightblue_vertical {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #83c6f0;
    height: 24px;
    border: 1px solid black; }
  .board .bar_lightblue_horizontal_fr {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #83c6f0;
    height: 58px;
    width: 24px;
    border: 1px solid black;
    float: right; }
  .board .bar_lightblue_horizontal_fl {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #83c6f0;
    height: 58px;
    width: 24px;
    border: 1px solid black;
    float: left; }
  .board p.name {
    font-size: 9px;
    padding-left: 3px;
    padding-right: 3px; }
    .board p.name#saucer {
      padding-left: 11px; }
    .board p.name#tootsies {
      padding-left: 7px; }
    .board p.name#robert {
      padding-left: 9px; }
    .board p.name#printer {
      padding-left: 10px; }
    .board p.name#sperry {
      padding-left: 9px; }
    .board p.name#palm {
      padding-left: 6px; }
    .board p.name#eastland {
      padding-left: 8px; }
    .board p.name#marche {
      padding-left: 10px; }
  .board p.price {
    margin-top: -5px;
    margin-left: 11px;
    margin-bottom: 0px;
    font-size: 12px;
    position: absolute;
    bottom: 0px; }
  .board img.tile_image {
    border-radius: 3px;
    height: 43px;
    width: 43px;
    padding: 0 auto;
    margin-top: -5px;
    margin-left: 7px; }
    .board img.tile_image#rob_image {
      height: 33px; }
    .board img.tile_image#printer_image {
      height: 25px; }
  .board .insideboard {
    /* inside board is 540 x 540 where
    outside board is 780 X 780 */
    display: block;
    float: left;
    height: 540px;
    width: 540px;
    position: relative;
    /* this needs to be changed when done with placement*/
    background-color: blue;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .board .insideboard img {
      width: 100px;
      height: 100px;
      float: left;
      padding-right: 20px; }
    .board .insideboard p {
      width: 200px;
      float: left; }

body {
  width: 1200px; }

.clear {
  clear: both; }
