@import url(http://fonts.googleapis.com/css?family=Satisfy);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);
#card_title {
  font-family: 'Satisfy', cursive; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  /* we have font-weight: 200, 400, and 700 */ }

nav {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700; }

/* PIECES PAGE */
/* PIECES PAGE END */
/* Cards */
#chest {
  float: left;
  position: relative;
  clear: all; }
  #chest img {
    width: 220px;
    height: 100px; }

#chance {
  float: left;
  position: relative;
  clear: all; }
  #chance img {
    width: 220px;
    height: 100px; }

.img1 {
  background-color: #cce4c8;
  width: 200px;
  height: 90px;
  position: absolute;
  -webkit-transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out; }

.img1:hover {
  opacity: 0; }

.img2 {
  background-color: #cce4c8;
  width: 200px;
  height: 90px; }

.img2 {
  display: block; }

.chance1 {
  position: absolute;
  top: 0px;
  left: 20px; }

.chance2 {
  position: absolute;
  top: 103px;
  left: 20px; }

.chance3 {
  position: absolute;
  top: 211px;
  left: 20px; }

.chance4 {
  position: absolute;
  top: 320px;
  left: 20px; }

.chance5 {
  position: absolute;
  top: 430px;
  left: 20px; }

.chest5 {
  position: absolute;
  top: 0px;
  left: 300px; }

.chest2 {
  position: absolute;
  top: 103px;
  left: 300px; }

.chest3 {
  position: absolute;
  top: 211px;
  left: 300px; }

.chest4 {
  position: absolute;
  top: 320px;
  left: 300px; }

.chest1 {
  position: absolute;
  top: 420px;
  left: 300px; }

header {
  margin-top: auto; }
  header img {
    margin-left: 50px; }

nav #navbar {
  margin-left: 5%;
  padding: 0;
  list-style: none;
  position: relative; }
nav #navbar li:nth-child(1) {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  display: inline; }
nav #navbar li:nth-child(1):hover {
  position: absolute;
  top: 0px;
  left: 207px;
  z-index: 1;
  display: inline;
  -webkit-transition: all .90s ease-in-out;
  -moz-transition: all .90s ease-in-out;
  -o-transition: all .90s ease-in-out;
  transition: all .90s ease-in-out; }
nav #navbar li:nth-child(2) {
  position: absolute;
  top: 72px;
  left: 0px;
  z-index: 2;
  display: inline; }
nav #navbar li:nth-child(2):hover {
  position: absolute;
  top: 72px;
  left: 207px;
  z-index: 2;
  display: inline;
  -webkit-transition: all .90s ease-in-out;
  -moz-transition: all .90s ease-in-out;
  -o-transition: all .90s ease-in-out;
  transition: all .90s ease-in-out; }
nav #navbar li:nth-child(3) {
  position: absolute;
  top: 144px;
  left: 0px;
  z-index: 3;
  display: inline; }
nav #navbar li:nth-child(3):hover {
  position: absolute;
  top: 144px;
  left: 207px;
  z-index: 3;
  display: inline;
  -webkit-transition: all .90s ease-in-out;
  -moz-transition: all .90s ease-in-out;
  -o-transition: all .90s ease-in-out;
  transition: all .90s ease-in-out; }
nav #navbar li:nth-child(4) {
  position: absolute;
  top: 215px;
  left: 0px;
  z-index: 4;
  display: inline; }
nav #navbar li:nth-child(4):hover {
  position: absolute;
  top: 215px;
  left: 207px;
  z-index: 4;
  display: inline;
  -webkit-transition: all .90s ease-in-out;
  -moz-transition: all .90s ease-in-out;
  -o-transition: all .90s ease-in-out;
  transition: all .90s ease-in-out; }
nav #navbar li:nth-child(5) {
  position: absolute;
  top: 287px;
  left: 0px;
  z-index: 5;
  display: inline; }
nav #navbar li:nth-child(5):hover {
  position: absolute;
  top: 287px;
  left: 207px;
  z-index: 5;
  display: inline;
  -webkit-transition: all .90s ease-in-out;
  -moz-transition: all .90s ease-in-out;
  -o-transition: all .90s ease-in-out;
  transition: all .90s ease-in-out; }
nav #navbar li:nth-child(6) {
  position: absolute;
  top: 360px;
  left: 0px;
  z-index: 6;
  display: inline; }
nav #navbar li:nth-child(6):hover {
  position: absolute;
  top: 360px;
  left: 207px;
  z-index: 6;
  display: inline;
  -webkit-transition: all .90s ease-in-out;
  -moz-transition: all .90s ease-in-out;
  -o-transition: all .90s ease-in-out;
  transition: all .90s ease-in-out; }
nav #navbar li a {
  text-decoration: none; }

.board {
  float: right;
  height: 780px;
  width: 780px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #cce4c8; }
  .board #top {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .board #bottom {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .board .row {
    height: 120px;
    width: 780px; }
  .board #left {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .board #right {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .board .column {
    height: 540px;
    width: 120px;
    float: left; }
  .board .corner {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
    height: 120px;
    width: 120px;
    float: left; }
  .board .corner img {
    height: 118px;
    width: 118px; }
    .board .corner img#just_visiting {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg); }
    .board .corner img#parking {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg); }
  .board .rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg); }
  .board .lcolname {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    position: absolute;
    right: 15px;
    top: 5px; }
    .board .lcolname#cheesename {
      max-width: 10px;
      bottom: 31px; }
    .board .lcolname#healthname {
      max-width: 31px; }
    .board .lcolname#communityname {
      max-width: 38px; }
  .board #coco {
    top: 13px; }
  .board #gabby {
    top: 8px;
    right: 20px;
    width: 34px; }
  .board #baja {
    top: 15px;
    right: 10px; }
  .board #opry {
    top: 12px; }
  .board #ryman {
    margin-top: 29px;
    margin-right: -13px;
    width: 73px; }
  .board .rcolname {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    position: absolute;
    left: 32px;
    max-width: 4px;
    top: 22px; }
  .board #noshville {
    top: 31px; }
  .board .lprice {
    position: absolute;
    left: -17px;
    bottom: 22px !important;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg); }
    .board .lprice#opryprice, .board .lprice#rymanprice {
      margin-left: 14px; }
    .board .lprice#healthprice {
      margin-left: 0px; }
  .board .rprice {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    right: -5px;
    bottom: 18px !important; }
  .board .limage {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    position: absolute;
    left: 17px;
    top: 11px; }
  .board .rimage {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    position: absolute;
    left: 48px;
    top: 15px; }
  .board .vertical_tile {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
    height: 120px;
    width: 60px;
    float: left;
    position: relative;
    /* positioned .vertical_tile
    relative, so that can absolute
    position price in tile to bottom */ }
  .board .horizontal_tile {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
    height: 60px;
    width: 120px;
    position: relative;
    /* positioned .vertical_tile
    relative, so that can absolute
    position price in tile to bottom */ }
  .board .bar_purple_vertical {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #c40774;
    height: 24px;
    border: 1px solid black; }
  .board .bar_purple_horizontal_fr {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #c40774;
    height: 58px;
    width: 24px;
    border: 1px solid black;
    float: right; }
  .board .bar_purple_horizontal_fl {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #c40774;
    height: 58px;
    width: 24px;
    border: 1px solid black;
    float: left; }
  .board .bar_orange_vertical {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #e38800;
    height: 24px;
    border: 1px solid black; }
  .board .bar_orange_horizontal_fr {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #e38800;
    height: 58px;
    width: 24px;
    border: 1px solid black;
    float: right; }
  .board .bar_orange_horizontal_fl {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #e38800;
    height: 58px;
    width: 24px;
    border: 1px solid black;
    float: left; }
  .board .bar_red_vertical {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #cd001a;
    height: 24px;
    border: 1px solid black; }
  .board .bar_red_horizontal_fr {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #cd001a;
    height: 58px;
    width: 24px;
    border: 1px solid black;
    float: right; }
  .board .bar_red_horizontal_fl {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #cd001a;
    height: 58px;
    width: 24px;
    border: 1px solid black;
    float: left; }
  .board .bar_yellow_vertical {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #e4ea00;
    height: 24px;
    border: 1px solid black; }
  .board .bar_yellow_horizontal_fr {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #e4ea00;
    height: 58px;
    width: 24px;
    border: 1px solid black;
    float: right; }
  .board .bar_yellow_horizontal_fl {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #e4ea00;
    height: 58px;
    width: 24px;
    border: 1px solid black;
    float: left; }
  .board .bar_green_vertical {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #1aa03b;
    height: 24px;
    border: 1px solid black; }
  .board .bar_green_horizontal_fr {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #1aa03b;
    height: 58px;
    width: 24px;
    border: 1px solid black;
    float: right; }
  .board .bar_green_horizontal_fl {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #1aa03b;
    height: 58px;
    width: 24px;
    border: 1px solid black;
    float: left; }
  .board .bar_darkblue_vertical {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #304ea2;
    height: 24px;
    border: 1px solid black; }
  .board .bar_darkblue_horizontal_fr {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #304ea2;
    height: 58px;
    width: 24px;
    border: 1px solid black;
    float: right; }
  .board .bar_darkblue_horizontal_fl {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #304ea2;
    height: 58px;
    width: 24px;
    border: 1px solid black;
    float: left; }
  .board .bar_brown_vertical {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #75390b;
    height: 24px;
    border: 1px solid black; }
  .board .bar_brown_horizontal_fr {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #75390b;
    height: 58px;
    width: 24px;
    border: 1px solid black;
    float: right; }
  .board .bar_brown_horizontal_fl {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #75390b;
    height: 58px;
    width: 24px;
    border: 1px solid black;
    float: left; }
  .board .bar_lightblue_vertical {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #83c6f0;
    height: 24px;
    border: 1px solid black; }
  .board .bar_lightblue_horizontal_fr {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #83c6f0;
    height: 58px;
    width: 24px;
    border: 1px solid black;
    float: right; }
  .board .bar_lightblue_horizontal_fl {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #83c6f0;
    height: 58px;
    width: 24px;
    border: 1px solid black;
    float: left; }
  .board p.name {
    font-size: 9px;
    padding-left: 3px;
    padding-right: 3px; }
    .board p.name#saucer {
      padding-left: 11px; }
    .board p.name#tootsies {
      padding-left: 7px; }
    .board p.name#robert {
      padding-left: 9px; }
    .board p.name#printer {
      padding-left: 10px; }
    .board p.name#sperry {
      padding-left: 9px; }
    .board p.name#palm {
      padding-left: 6px; }
    .board p.name#eastland {
      padding-left: 8px; }
    .board p.name#marche {
      padding-left: 10px; }
    .board p.name.topbottomnonproperty {
      margin-left: 5px; }
  .board p.price {
    margin-top: -5px;
    margin-left: 11px;
    margin-bottom: 0px;
    font-size: 12px;
    position: absolute;
    bottom: 0px; }
  .board img.tile_image {
    border-radius: 3px;
    height: 43px;
    width: 43px;
    padding: 0 auto;
    margin-top: -5px;
    margin-left: 7px; }
    .board img.tile_image#rob_image {
      height: 33px; }
    .board img.tile_image#printer_image {
      height: 25px; }
    .board img.tile_image#chancebottom {
      margin-top: 8px; }
  .board .insideboard {
    /* inside board is 540 x 540 where
    outside board is 780 X 780 */
    display: block;
    float: left;
    height: 540px;
    width: 540px;
    position: relative;
    /* this needs to be changed when done with placement*/
    background-color: #cce4c8;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .board .insideboard .pieces h2 {
      margin-top: 3px;
      margin-bottom: 0;
      text-align: center;
      font-family: 'Satisfy', cursive;
      text-shadow: 1px 1px #757575; }
    .board .insideboard .pieces #bbq {
      float: left;
      position: relative; }
      .board .insideboard .pieces #bbq #t_bbq {
        background-color: #cce4c8;
        width: 125px;
        height: 240px;
        position: absolute;
        margin: 5px 0 5px 8px;
        text-align: center;
        -webkit-transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -o-transition: opacity .25s ease-in-out;
        transition: opacity .25s ease-in-out; }
        .board .insideboard .pieces #bbq #t_bbq:hover {
          opacity: 0; }
        .board .insideboard .pieces #bbq #t_bbq img {
          margin: 70px auto 0; }
        .board .insideboard .pieces #bbq #t_bbq h3 {
          text-shadow: 1px 1px #757575; }
      .board .insideboard .pieces #bbq #b_bbq {
        background-color: #cce4c8;
        width: 125px;
        height: 240px;
        margin: 5px 0 5px 8px; }
        .board .insideboard .pieces #bbq #b_bbq p {
          text-align: center;
          font-weight: normal;
          margin-top: 8px;
          margin-bottom: 0;
          font-size: 12px; }
        .board .insideboard .pieces #bbq #b_bbq h3 {
          text-align: center;
          margin-top: 0;
          margin-bottom: 0;
          text-shadow: 1px 1px #757575; }
        .board .insideboard .pieces #bbq #b_bbq img {
          display: block;
          margin: 3px auto auto;
          border-radius: 5px; }
    .board .insideboard .pieces #chicken {
      float: left;
      position: relative; }
      .board .insideboard .pieces #chicken #t_chicken {
        background-color: #cce4c8;
        width: 125px;
        height: 240px;
        position: absolute;
        margin: 5px 0 5px 8px;
        text-align: center;
        -webkit-transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -o-transition: opacity .25s ease-in-out;
        transition: opacity .25s ease-in-out; }
        .board .insideboard .pieces #chicken #t_chicken:hover {
          opacity: 0; }
        .board .insideboard .pieces #chicken #t_chicken img {
          margin: 70px auto 0; }
        .board .insideboard .pieces #chicken #t_chicken h3 {
          text-shadow: 1px 1px #757575; }
      .board .insideboard .pieces #chicken #b_chicken {
        background-color: #cce4c8;
        width: 125px;
        height: 240px;
        margin: 5px 0 5px 8px; }
        .board .insideboard .pieces #chicken #b_chicken p {
          text-align: center;
          font-weight: normal;
          margin-top: 8px;
          margin-bottom: 0;
          font-size: 12px; }
        .board .insideboard .pieces #chicken #b_chicken h3 {
          text-align: center;
          margin-top: 0;
          margin-bottom: 0;
          text-shadow: 1px 1px #757575; }
        .board .insideboard .pieces #chicken #b_chicken img {
          display: block;
          margin: 3px auto auto;
          border-radius: 5px; }
    .board .insideboard .pieces #burger {
      float: left;
      position: relative; }
      .board .insideboard .pieces #burger #t_burger {
        background-color: #cce4c8;
        width: 125px;
        height: 240px;
        position: absolute;
        margin: 5px 0 5px 8px;
        text-align: center;
        -webkit-transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -o-transition: opacity .25s ease-in-out;
        transition: opacity .25s ease-in-out; }
        .board .insideboard .pieces #burger #t_burger:hover {
          opacity: 0; }
        .board .insideboard .pieces #burger #t_burger img {
          margin: 70px auto 0; }
        .board .insideboard .pieces #burger #t_burger h3 {
          text-shadow: 1px 1px #757575; }
      .board .insideboard .pieces #burger #b_burger {
        background-color: #cce4c8;
        width: 125px;
        height: 240px;
        margin: 5px 0 5px 8px; }
        .board .insideboard .pieces #burger #b_burger p {
          text-align: center;
          font-weight: normal;
          margin-top: 8px;
          margin-bottom: 0;
          font-size: 12px; }
        .board .insideboard .pieces #burger #b_burger h3 {
          text-align: center;
          margin-top: 0;
          margin-bottom: 0;
          text-shadow: 1px 1px #757575; }
        .board .insideboard .pieces #burger #b_burger img {
          display: block;
          margin: 3px auto auto;
          border-radius: 5px; }
    .board .insideboard .pieces #growler {
      float: left;
      position: relative; }
      .board .insideboard .pieces #growler #t_growler {
        background-color: #cce4c8;
        width: 125px;
        height: 240px;
        position: absolute;
        margin: 5px 0 5px 8px;
        text-align: center;
        -webkit-transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -o-transition: opacity .25s ease-in-out;
        transition: opacity .25s ease-in-out; }
        .board .insideboard .pieces #growler #t_growler:hover {
          opacity: 0; }
        .board .insideboard .pieces #growler #t_growler img {
          margin: 20px auto 0; }
        .board .insideboard .pieces #growler #t_growler h3 {
          text-shadow: 1px 1px #757575; }
      .board .insideboard .pieces #growler #b_growler {
        background-color: #cce4c8;
        width: 125px;
        height: 240px;
        margin: 5px 0 5px 8px; }
        .board .insideboard .pieces #growler #b_growler p {
          text-align: center;
          font-weight: normal;
          margin-top: 8px;
          margin-bottom: 0;
          font-size: 13px; }
        .board .insideboard .pieces #growler #b_growler h3 {
          text-align: center;
          margin-top: 0;
          margin-bottom: 0;
          text-shadow: 1px 1px #757575; }
        .board .insideboard .pieces #growler #b_growler img {
          display: block;
          margin: 3px auto auto;
          border-radius: 5px; }
    .board .insideboard .pieces #biscuits {
      float: left;
      position: relative; }
      .board .insideboard .pieces #biscuits #t_biscuits {
        background-color: #cce4c8;
        width: 125px;
        height: 240px;
        position: absolute;
        margin: 5px 0 5px 8px;
        text-align: center;
        -webkit-transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -o-transition: opacity .25s ease-in-out;
        transition: opacity .25s ease-in-out; }
        .board .insideboard .pieces #biscuits #t_biscuits:hover {
          opacity: 0; }
        .board .insideboard .pieces #biscuits #t_biscuits img {
          margin: 20px auto 0; }
        .board .insideboard .pieces #biscuits #t_biscuits h3 {
          text-shadow: 1px 1px #757575; }
      .board .insideboard .pieces #biscuits #b_biscuits {
        background-color: #cce4c8;
        width: 125px;
        height: 240px;
        margin: 5px 0 5px 8px; }
        .board .insideboard .pieces #biscuits #b_biscuits p {
          text-align: center;
          font-weight: normal;
          margin-top: 8px;
          margin-bottom: 0;
          font-size: 13px; }
        .board .insideboard .pieces #biscuits #b_biscuits h3 {
          text-align: center;
          margin-top: 0;
          margin-bottom: 0;
          text-shadow: 1px 1px #757575; }
        .board .insideboard .pieces #biscuits #b_biscuits img {
          display: block;
          margin: 3px auto auto;
          border-radius: 5px; }
    .board .insideboard .pieces #pizza {
      float: left;
      position: relative; }
      .board .insideboard .pieces #pizza #t_pizza {
        background-color: #cce4c8;
        width: 125px;
        height: 240px;
        position: absolute;
        margin: 5px 0 5px 8px;
        text-align: center;
        -webkit-transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -o-transition: opacity .25s ease-in-out;
        transition: opacity .25s ease-in-out; }
        .board .insideboard .pieces #pizza #t_pizza:hover {
          opacity: 0; }
        .board .insideboard .pieces #pizza #t_pizza img {
          margin: 20px auto 0; }
        .board .insideboard .pieces #pizza #t_pizza h3 {
          text-shadow: 1px 1px #757575; }
      .board .insideboard .pieces #pizza #b_pizza {
        background-color: #cce4c8;
        width: 125px;
        height: 240px;
        margin: 5px 0 5px 8px; }
        .board .insideboard .pieces #pizza #b_pizza p {
          text-align: center;
          font-weight: normal;
          margin-top: 8px;
          margin-bottom: 0;
          font-size: 12px; }
        .board .insideboard .pieces #pizza #b_pizza h3 {
          text-align: center;
          margin-top: 0;
          margin-bottom: 0;
          text-shadow: 1px 1px #757575; }
        .board .insideboard .pieces #pizza #b_pizza img {
          display: block;
          margin: 3px auto auto;
          border-radius: 5px; }
    .board .insideboard .pieces #burrito {
      float: left;
      position: relative; }
      .board .insideboard .pieces #burrito #t_burrito {
        background-color: #cce4c8;
        width: 125px;
        height: 240px;
        position: absolute;
        margin: 5px 0 5px 8px;
        text-align: center;
        -webkit-transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -o-transition: opacity .25s ease-in-out;
        transition: opacity .25s ease-in-out; }
        .board .insideboard .pieces #burrito #t_burrito:hover {
          opacity: 0; }
        .board .insideboard .pieces #burrito #t_burrito img {
          margin: 20px auto 0; }
        .board .insideboard .pieces #burrito #t_burrito h3 {
          text-shadow: 1px 1px #757575; }
      .board .insideboard .pieces #burrito #b_burrito {
        background-color: #cce4c8;
        width: 125px;
        height: 240px;
        margin: 5px 0 5px 8px; }
        .board .insideboard .pieces #burrito #b_burrito p {
          text-align: center;
          font-weight: normal;
          margin-top: 8px;
          margin-bottom: 0;
          font-size: 12px; }
        .board .insideboard .pieces #burrito #b_burrito h3 {
          text-align: center;
          margin-top: 0;
          margin-bottom: 0;
          text-shadow: 1px 1px #757575; }
        .board .insideboard .pieces #burrito #b_burrito img {
          display: block;
          margin: 3px auto auto;
          border-radius: 5px; }
    .board .insideboard .pieces #truck {
      float: left;
      position: relative; }
      .board .insideboard .pieces #truck #t_truck {
        background-color: #cce4c8;
        width: 125px;
        height: 240px;
        position: absolute;
        margin: 5px 0 5px 8px;
        text-align: center;
        -webkit-transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -o-transition: opacity .25s ease-in-out;
        transition: opacity .25s ease-in-out; }
        .board .insideboard .pieces #truck #t_truck:hover {
          opacity: 0; }
        .board .insideboard .pieces #truck #t_truck img {
          margin: 66px auto 0; }
        .board .insideboard .pieces #truck #t_truck h3 {
          text-shadow: 1px 1px #757575; }
      .board .insideboard .pieces #truck #b_truck {
        background-color: #cce4c8;
        width: 125px;
        height: 240px;
        margin: 5px 0 5px 8px; }
        .board .insideboard .pieces #truck #b_truck p {
          text-align: center;
          font-weight: normal;
          margin-top: 8px;
          margin-bottom: 0;
          font-size: 12px; }
        .board .insideboard .pieces #truck #b_truck h3 {
          text-align: center;
          margin-top: 0;
          margin-bottom: 0;
          text-shadow: 1px 1px #757575; }
        .board .insideboard .pieces #truck #b_truck img {
          display: block;
          margin: 3px auto auto;
          border-radius: 5px; }
    .board .insideboard .index_page h1 {
      text-transform: uppercase;
      margin-bottom: 0;
      letter-spacing: 5px;
      color: #cd001a;
      text-shadow: 1px 1px #757575;
      font-size: 35px; }
    .board .insideboard .index_page h2 {
      margin-top: 5px;
      text-shadow: 1px 1px #757575; }
    .board .insideboard .index_page p {
      font-weight: normal;
      font-style: italic; }
    .board .insideboard .index_page h1, .board .insideboard .index_page h2, .board .insideboard .index_page p {
      text-align: center; }

/* Cards */
#chest {
  float: left;
  position: relative;
  clear: all; }
  #chest img {
    width: 220px;
    height: 100px; }

#chance {
  float: left;
  position: relative;
  clear: all; }
  #chance img {
    width: 220px;
    height: 100px; }

.img1 {
  background-color: #cce4c8;
  width: 200px;
  height: 90px;
  position: absolute;
  -webkit-transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out; }

.img1:hover {
  opacity: 0; }

.img2 {
  background-color: #cce4c8;
  width: 200px;
  height: 90px; }

.img2 {
  display: block; }

.chance1 {
  position: absolute;
  top: 0px;
  left: 20px; }

.chance2 {
  position: absolute;
  top: 103px;
  left: 20px; }

.chance3 {
  position: absolute;
  top: 211px;
  left: 20px; }

.chance4 {
  position: absolute;
  top: 320px;
  left: 20px; }

.chance5 {
  position: absolute;
  top: 430px;
  left: 20px; }

.chest5 {
  position: absolute;
  top: 0px;
  left: 300px; }

.chest2 {
  position: absolute;
  top: 103px;
  left: 300px; }

.chest3 {
  position: absolute;
  top: 211px;
  left: 300px; }

.chest4 {
  position: absolute;
  top: 320px;
  left: 300px; }

.chest1 {
  position: absolute;
  top: 435px;
  left: 300px; }

#faq {
  /*Test*/
  height: 540px;
  width: 540px;
  position: absolute; }
  #faq a {
    text-decoration: none; }
  #faq h2 {
    font-size: 31px;
    text-align: center; }
  #faq dt {
    margin-left: 23px;
    margin-top: 25px;
    width: 470px; }
  #faq dd {
    margin-left: 66px;
    margin-top: 9px;
    margin-bottom: 5px;
    width: 470px; }

#contact {
  /*Test*/
  height: 540px;
  width: 540px;
  position: absolute; }
  #contact p {
    font-size: 20px;
    text-align: center; }
  #contact a {
    text-decoration: none; }
  #contact h2 {
    font-size: 31px;
    text-align: center; }
  #contact dt {
    margin-left: 23px;
    margin-top: 25px;
    width: 470px; }
  #contact dd {
    margin-left: 66px;
    margin-top: 9px;
    margin-bottom: 5px;
    width: 470px; }
  #contact #map {
    margin-left: 100px !important; }
  #contact iframe {
    margin-top: -9px; }
  #contact span {
    position: relative;
    top: -10px; }

footer {
  background: -moz-linear-gradient(left, #ff1a00 0%, rgba(255, 26, 0, 0.76) 48%, rgba(255, 26, 0, 0.72) 57%, rgba(255, 26, 0, 0.66) 69%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ff1a00), color-stop(48%, rgba(255, 26, 0, 0.76)), color-stop(57%, rgba(255, 26, 0, 0.72)), color-stop(69%, rgba(255, 26, 0, 0.66)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #ff1a00 0%, rgba(255, 26, 0, 0.76) 48%, rgba(255, 26, 0, 0.72) 57%, rgba(255, 26, 0, 0.66) 69%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #ff1a00 0%, rgba(255, 26, 0, 0.76) 48%, rgba(255, 26, 0, 0.72) 57%, rgba(255, 26, 0, 0.66) 69%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #ff1a00 0%, rgba(255, 26, 0, 0.76) 48%, rgba(255, 26, 0, 0.72) 57%, rgba(255, 26, 0, 0.66) 69%);
  /* IE10+ */
  background: linear-gradient(to right, #ff1a00 0%, rgba(255, 26, 0, 0.76) 48%, rgba(255, 26, 0, 0.72) 57%, rgba(255, 26, 0, 0.66) 69%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1a00', endColorstr='#a8ff1a00',GradientType=1 );
  /* IE6-9 */ }

body {
  width: 1200px; }

.container {
  width: 1100px;
  margin-bottom: 10px; }

.clear {
  clear: both; }
