.board
{
  height: 780px;
  width: 780px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color:$board_background_color;
  $varX: 780px / 13; /* 780/13 = 60. */
  $var2X: $varX * 2;

  .row
  {
    width: $var2X;

    #top
    {

    }

    #bottom
    {

    }
  }

  .column
  {

    #left
    {

    }

    #right
    {

    }
  }

  .insideboard
  {
    height: 640px;
    width: 640px;
    position: relative;


    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

  }
}
