.board
{

  $float_right: right;
  float:right;



  height: 780px;
  width: 780px;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color:$board_background_color;
  $varX: 780px / 13; // $varX = 60
  $var2X: $varX * 2; // $var2X = 120
  $var9X: $varX * 9; // $var9X = 540
  $var13X: $varX * 13; // $var13X = 780


  #top
  {
    @include border_box_fn();
  }

  #bottom
  {
    @include border_box_fn();
  }

  .row
  {
    height: $var2X;
    width: $var13X;
  }

  .row#top
  { //Example of styling different tiles within a row
    // background-color: red;

    div:nth-child(3)
    {
      background-color: green;
    }
  }

  #left
  {
    @include border_box_fn();
  }

  #right
  {
    @include border_box_fn();
  }

  .column
  {
    height: $var9X;
    width: $var2X;
    float: left;
  }

  .corner
  {
    @include border_box_fn;
    border: 1px solid black;
    height: $var2X;
    width: $var2X;
    float: left;
  }

  .rotate180
  {
    @include rotate_fn(180);
  }

  .lcolname
  {
    @include rotate_fn(90);
    position: absolute;
    right: 15px;
    top: 5px;
  }

  #coco
  {
    top: 13px;
  }

  #gabby
  {
    top: 8px;
    right: 20px;
    width: 34px;
  }

  #baja
  {
    top: 15px;
    right: 10px;
  }

  #opry
  {
    top: 12px;
  }

  #ryman
  {
    margin-top: 29px;
    margin-right: -13px;
    width: 73px;
  }

  .rcolname
  {
    @include rotate_fn(-90);
    position: absolute;
    left: 32px;
    max-width: 4px;
    top: 22px;
  }

  #noshville
  {
    top: 31px;
  }

  .lprice
  {
    @include price_lcol();
    @include rotate_fn(90);
  }

  .rprice
  {
    @include rotate_fn(-90);
    right: -5px;
    bottom: 18px!important;
  }

  .limage
  {
    @include rotate_fn(90);
    position: absolute;
    left: 17px;
    top: 11px;
  }

  .rimage
  {
    @include rotate_fn(-90);
    position: absolute;
    left: 48px;
    top: 15px;
  }

  .vertical_tile
  {
    @include border_box_fn;
    border: 1px solid black;
    height: $var2X;
    width: $varX;
    float: left;
    position: relative;
    /* positioned .vertical_tile
    relative, so that can absolute
    position price in tile to bottom */
  }

  .horizontal_tile
  {
    @include border_box_fn;
    border: 1px solid black;
    height: $varX;
    width: $var2X;
    position: relative;
    /* positioned .vertical_tile
    relative, so that can absolute
    position price in tile to bottom */
  }

  .bar_purple_vertical
  {
    @include border_box_fn;
    @include bar_fn_vertical($board_purple, $var2X);
  }

  .bar_purple_horizontal_fr
  {
    @include border_box_fn;
    @include bar_fn_horizontal($board_purple, $varX, $var2X, right);
  }

  .bar_purple_horizontal_fl
  {
    @include border_box_fn;
    @include bar_fn_horizontal($board_purple, $varX, $var2X, left);
  }

  .bar_orange_vertical
  {
    @include border_box_fn;
    @include bar_fn_vertical($board_orange, $var2X);
  }

  .bar_orange_horizontal_fr
  {
    @include border_box_fn;
    @include bar_fn_horizontal($board_orange, $varX, $var2X, right);
  }

  .bar_orange_horizontal_fl
  {
    @include border_box_fn;
    @include bar_fn_horizontal($board_orange, $varX, $var2X, left);
  }

  .bar_red_vertical
  {
    @include border_box_fn;
    @include bar_fn_vertical($board_red, $var2X);
  }

  .bar_red_horizontal_fr
  {
    @include border_box_fn;
    @include bar_fn_horizontal($board_red, $varX, $var2X, right);
  }

  .bar_red_horizontal_fl
  {
    @include border_box_fn;
    @include bar_fn_horizontal($board_red, $varX, $var2X, left);
  }

  .bar_yellow_vertical
  {
    @include border_box_fn;
    @include bar_fn_vertical($board_yellow, $var2X);
  }

  .bar_yellow_horizontal_fr
  {
    @include border_box_fn;
    @include bar_fn_horizontal($board_yellow, $varX, $var2X, right);
  }

  .bar_yellow_horizontal_fl
  {
    @include border_box_fn;
    @include bar_fn_horizontal($board_yellow, $varX, $var2X, left);
  }

  .bar_green_vertical
  {
    @include border_box_fn;
    @include bar_fn_vertical($board_green, $var2X);
  }

  .bar_green_horizontal_fr
  {
    @include border_box_fn;
    @include bar_fn_horizontal($board_green, $varX, $var2X, right);
  }

  .bar_green_horizontal_fl
  {
    @include border_box_fn;
    @include bar_fn_horizontal($board_green, $varX, $var2X, left);
  }

  .bar_darkblue_vertical
  {
    @include border_box_fn;
    @include bar_fn_vertical($board_darkblue, $var2X);
  }

  .bar_darkblue_horizontal_fr
  {
    @include border_box_fn;
    @include bar_fn_horizontal($board_darkblue, $varX, $var2X, right);
  }

  .bar_darkblue_horizontal_fl
  {
    @include border_box_fn;
    @include bar_fn_horizontal($board_darkblue, $varX, $var2X, left);
  }

  .bar_brown_vertical
  {
    @include border_box_fn;
    @include bar_fn_vertical($board_brown, $var2X);
  }

  .bar_brown_horizontal_fr
  {
    @include border_box_fn;
    @include bar_fn_horizontal($board_brown, $varX, $var2X, right);
  }

  .bar_brown_horizontal_fl
  {
    @include border_box_fn;
    @include bar_fn_horizontal($board_brown, $varX, $var2X, left);
  }

  .bar_lightblue_vertical
  {
    @include border_box_fn;
    @include bar_fn_vertical($board_lightblue, $var2X);
  }

  .bar_lightblue_horizontal_fr
  {
    @include border_box_fn;
    @include bar_fn_horizontal($board_lightblue, $varX, $var2X, right);
  }

  .bar_lightblue_horizontal_fl
  {
    @include border_box_fn;
    @include bar_fn_horizontal($board_lightblue, $varX, $var2X, left);
  }

  p.name
  {
    font-size: 9px;
    padding-left: 3px;
    padding-right: 3px;

    &#saucer
    {
      padding-left: 11px;
    }

    &#tootsies
    {
      padding-left: 7px;
    }

    &#robert
    {
      padding-left: 9px;
    }

    &#printer
    {
      padding-left: 10px;
    }

    &#sperry
    {
      padding-left: 9px;
    }

    &#palm
    {
      padding-left: 6px;
    }

    &#eastland
    {
      padding-left: 8px;
    }

    &#marche
    {
      padding-left: 10px;
    }
  }

  p.price
  {
    margin-top: -5px;
    margin-left: 11px;
    margin-bottom: 0px;
    font-size: 12px;
    position: absolute;
    bottom: 0px;
  }

  img.tile_image
  {
    border-radius: 3px;
    height: 43px;
    width: 43px;
    padding:0 auto;
    margin-top: -5px;
    margin-left: 7px;

    &#rob_image
    {
      height: 33px;
    }

    &#printer_image
    {
      height: 25px;
    }
  }

  .insideboard
  { /* inside board is 540 x 540 where
    outside board is 780 X 780 */
    display: block;
    float: left;
    height: 540px;
    width: 540px;
    position: relative;
  /* this needs to be changed when done with placement*/
  background-color: blue;


    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

      img
      {
        width:100px;
        height:100px;
        float:left;
        padding-right: 20px;

      }
      p
      {
        width: 200px;
        float: left;
      }


  }
}
