$board_background_color: rgb(204, 228, 200);
$board_text_color: rgb(20,26,17);
$board_orange: rgb(227, 136, 0);
$board_purple: rgb(196, 7, 116);
$board_red: rgb(205, 0, 26);
$board_yellow: rgb(228, 234, 0);
$board_green: rgb(26, 160, 59);
$board_dark_blue: rgb(48, 78, 162);
$board_brown: rgb(117, 57, 11);
$board_light_blue: rgb(131, 198, 240);