#contact
{
/*Test*/
  height: 540px;
  width: 540px;
  position: absolute;

  h2
  {
    font-size: 31px;
    text-align: center;
  }

  dt
  {
    margin-left: 23px;
    margin-top: 25px;
    width: 470px;
  }

  dd
  {
    margin-left: 66px;
    margin-top: 9px;
    margin-bottom: 5px;
    width: 470px;
  }

}