@mixin border_box_fn() {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin bar_fn_vertical($color, $var2X) {
  background-color: $color;
  height: 0.2 * $var2X;
  border: 1px solid black;
}