@mixin border_box_fn() {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin bar_fn_vertical($color, $var2X) {
  background-color: $color;
  height: 0.2 * $var2X;
  border: 1px solid black;
}

@mixin bar_fn_horizontal($color, $varX, $var2X, $float) {
  background-color: $color;
  height: $varX - 2px;
  width: 0.2 * $var2X;
  border: 1px solid black;
  float: $float;
}

@mixin rotate_fn(  $degrees  ) {
  -webkit-transform: rotate(#{$degrees}deg);
  -moz-transform: rotate(#{$degrees}deg);
  -ms-transform: rotate(#{$degrees}deg);
}