@mixin border_box_fn() {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin bar_fn_vertical($color, $var2X) {
  background-color: $color;
  height: 0.2 * $var2X;
  border: 1px solid black;
}

@mixin bar_fn_horizontal($color, $varX, $var2X, $float) {
  background-color: $color;
  height: $varX - 2px;
  width: 0.2 * $var2X;
  border: 1px solid black;
  float: $float;
}

@mixin rotate_fn(  $degrees  ) {
  -webkit-transform: rotate(#{$degrees}deg);
  -moz-transform: rotate(#{$degrees}deg);
  -ms-transform: rotate(#{$degrees}deg);
}

@mixin price_lcol() {
  position: absolute;
  left: -17px;
  bottom: 22px!important;
}

/* PIECES PAGE */
@mixin piece_h2
{
  margin-top: 3px;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Satisfy', cursive;
  text-shadow: 1px 1px #757575;
}

@mixin piece_containing_div
{
  float: left;
  position: relative;
}

@mixin piece_top_div
{
background-color: $board_background_color;
  width: 125px;
  height: 240px;
  position: absolute;
  margin: 5px 0 5px 8px;
  text-align: center;
  -webkit-transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}

@mixin piece_top_hover
{
  opacity: 0;
}

@mixin piece_top_img($top-margin)
{
  margin: $top-margin auto 0;
}

@mixin piece_top_h3
{
  text-shadow: 1px 1px #757575;
}

@mixin piece_bottom_div
{
  background-color:$board_background_color;
  width: 125px;
  height: 240px;
  margin: 5px 0 5px 8px;
}

@mixin piece_bottom_p($font-size)
{
  text-align: center;
  font-weight: normal;
  margin-top: 8px;
  margin-bottom: 0;
  font-size: $font-size;
}

@mixin piece_bottom_h3
{
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: 1px 1px #757575;
}

@mixin piece_bottom_img
{
  display: block;
  margin: 3px auto auto;
  border-radius: 5px;
}
/* PIECES PAGE END */