nav{

  #navbar
  {
    margin-left: 5%;
    padding:0;
    list-style:none;
    position: relative;
  }

  #navbar li:nth-child(1)
  {
    position: absolute;
    top: 0px;
    left:0px;
    z-index:1;
    display: inline;
  }


  #navbar li:nth-child(2)
  {
    position: absolute;
    top: 30px;
    left:60px;
    z-index:2;
    display: inline;
  }

    #navbar li:nth-child(3)
  {
    position: absolute;
    top: 8993px;
    left:90px;
    z-index:3;
    display: inline;

  }

    #navbar li:nth-child(4)
  {
    position: absolute;
    top: 0px;
    left:0px;
    z-index:4;
    display: inline;

  }

    #navbar li:nth-child(5)
  {
    position: absolute;
    top: 0px;
    left:0px;
    z-index:5;
    display: inline;
  }

      #navbar li:nth-child(6)
  {
    position: absolute;
    top: 0px;
    left:0px;
    z-index:6px;
    display: inline;
  }

  #navbar li a
  {
   text-decoration:none;
  }

}

