@import 'colors';
@import 'fonts';
@import 'functions';
@import 'header';
@import 'nav';
@import 'board';
@import 'faq';
@import 'contact';
@import 'footer';



body
{
  width:1200px;
}

.container
{
  width: 1100px;
}

.clear
{
  clear:both;
}