!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Nash-o-poly
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %header
      %img{src:'images/nashville_wall_decal.jpg'}
    %nav
      %ul
        %li
          %a{:href => "index.html"} Home
        %li
          %a{:href => "gameboard.html"} Gameboard
        %li
          %a{:href => "pieces.html"} Pieces
        %li
          %a{:href => "cards.html"} Cards
        %li
          %a{:href => "faq.html"} FAQ
        %li
          %a{:href => "contactus.html"} Contact Us
    .board
      .row#top
        .corner
        .vertical_tile
          .bar_purple
          %img{src:'images/bottom/bajaburrito.png'}
        .vertical_tile
        .vertical_tile
          .bar_purple
        .vertical_tile
          .bar_purple
        .vertical_tile
        .vertical_tile
          .bar_orange
        .vertical_tile
        .vertical_tile
          .bar_orange
        .vertical_tile
          .bar_orange
        .corner
      #across_columns
        .column#left Column left
        .insideboard
        .column#right Column right
      .row#bottom.clear
        .corner
        .vertical_tile
          .bar_darkblue
        .vertical_tile
        .vertical_tile
          .bar_darkblue
        .vertical_tile
        .vertical_tile
        .vertical_tile
          .bar_green
        .vertical_tile
        .vertical_tile
          .bar_green
        .vertical_tile
          .bar_green
        .corner


