!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Nash-o-poly
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %header
      %img{src:'images/nashville_wall_decal.jpg'}
    %nav
      %ul
        %li
          %a{:href => "index.html"} Home
        %li
          %a{:href => "gameboard.html"} Gameboard
        %li
          %a{:href => "pieces.html"} Pieces
        %li
          %a{:href => "cards.html"} Cards
        %li
          %a{:href => "faq.html"} FAQ
        %li
          %a{:href => "contactus.html"} Contact Us
    .board
      .row#top
        .corner
        .vertical_tile
          .bar_purple_vertical
          %img{src:'images/bottom/bajaburrito.png'}
        .vertical_tile
        .vertical_tile
          .bar_purple_vertical
        .vertical_tile
          .bar_purple_vertical
        .vertical_tile
        .vertical_tile
          .bar_orange_vertical
        .vertical_tile
        .vertical_tile
          .bar_orange_vertical
        .vertical_tile
          .bar_orange_vertical
        .corner
      #across_columns
        .column#left
          .horizontal_tile
            .bar_lightblue_horizontal_fr
          .horizontal_tile
            .bar_lightblue_horizontal_fr
          .horizontal_tile
          .horizontal_tile
            .bar_lightblue_horizontal_fr
          .horizontal_tile
          .horizontal_tile
          .horizontal_tile
            .bar_brown_horizontal_fr
          .horizontal_tile
          .horizontal_tile
            .bar_brown_horizontal_fr
        .insideboard
        .column#right
          .horizontal_tile
            .bar_red_horizontal_fl
          .horizontal_tile
          .horizontal_tile
            .bar_red_horizontal_fl
          .horizontal_tile
            .bar_red_horizontal_fl
          .horizontal_tile
          .horizontal_tile
            .bar_yellow_horizontal_fl
          .horizontal_tile
            .bar_yellow_horizontal_fl
          .horizontal_tile
          .horizontal_tile
            .bar_yellow_horizontal_fl
      .row#bottom.clear
        .corner
        .vertical_tile
          .bar_darkblue_vertical
        .vertical_tile
        .vertical_tile
          .bar_darkblue_vertical
        .vertical_tile
        .vertical_tile
        .vertical_tile
          .bar_green_vertical
        .vertical_tile
        .vertical_tile
          .bar_green_vertical
        .vertical_tile
          .bar_green_vertical
        .corner


